@page "/general-setup/state" 
@inject IStateApi StateApi

@{
    int count = 0;
}
@if (_model is not null && _model.Data is not null)
{
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light"> All States</span>
        </h4>
        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="card-header d-flex rounded-0 flex-wrap py-md-0 ">
                        <div class="me-5 pe-5 p-3 d-flex gap-10">

                            <div class="dt-buttons">
                                <button class="dt-button add-new btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEcommerceCustomerAdd">
                                    <span>
                                        <i class="mdi mdi-plus me-0 me-sm-1"></i>
                                        <span class="d-none d-sm-inline-block">Add State</span>
                                    </span>
                                </button>
                            </div>
                            <div id="DataTables_Table_0_filter" class="dataTables_filter ">
                                <label><input type="search" class="form-control ms-0" placeholder="Search State" aria-controls="DataTables_Table_0"></label>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">State Code</th>
                            <th scope="col">State Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in _model.Data)
                        {
                            <tr>
                                <td>@(++count + ((_model.PageSetting.PageNo - 1) * _model.PageSetting.PageSize))</td>
                                <td>@item.StateCode</td>
                                <td>@item.StateName</td>
                            </tr>
                        }
                        </tbody>
                    </table>

                    <div class="row mx-1 d-flex justify-content-end pt-3 pb-3">
                        <div class="col-sm-12 col-md-6 ">
                            <MudPagination SelectedChanged="PageChanged" ShowFirstButton="true" ShowLastButton="true" Count="@_model.PageSetting.PageCount" Class="mt-4" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
