@namespace DotNet8.BankingManagementSystem.Frontend.Components.Ui

<div class="@ComputedClass">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? shadow { get; set; }

    private string ComputedClass => ClassNames.Merge("card card-bordered bg-base-100", 
        !string.IsNullOrEmpty(shadow) ? $"shadow-{shadow}" : "shadow-sm", 
        Class);
}

